<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Research Data Lifecycle</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Research Data Lifecycle</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d0836e1874894593998751edec1f0f56.png" alt="Research Data Lifecycle" usemap="#id-d0836e1874894593998751edec1f0f56map"/>
			   <map name="id-d0836e1874894593998751edec1f0f56map">
				  		<area shape="rect" coords="286,10,406,65" href="../elements/id-98fa77eb8210446aadcb2a72b3575fdb.html"  target="element">
				  		<area shape="rect" coords="286,430,406,485" href="../elements/id-c96086e82a3c4a28b78d3d565c52c60e.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-b44cd6ed55a648d49df02398675e0a02.html"  target="element">
				  		<area shape="rect" coords="562,214,682,269" href="../elements/id-1d90bb64fa264c84b1caf13713b9ec24.html"  target="element">
				  		<area shape="rect" coords="304,214,388,287" href="../elements/id-6cc4ef14112740aca52a39f64454a867.html"  target="element">
				  		<area shape="rect" coords="154,178,274,233" href="../elements/id-951cb0a56d5e470aa0a036e260976291.html"  target="element">
				  		<area shape="rect" coords="154,274,274,329" href="../elements/id-abe24cf55eb84fad89a42d741c539391.html"  target="element">
				  		<area shape="rect" coords="286,358,406,413" href="../elements/id-0cedc438075c49f1ae5cdb4771d5e40b.html"  target="element">
				  		<area shape="rect" coords="417,274,537,329" href="../elements/id-8af1049318c844208418f585711460bd.html"  target="element">
				  		<area shape="rect" coords="417,178,537,233" href="../elements/id-3e0d6db1da5e44a59fd0b5bcb3acae2d.html"  target="element">
				  		<area shape="rect" coords="286,94,406,149" href="../elements/id-ee1741e5c1b740b6bedd87d79afdad59.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ee1741e5c1b740b6bedd87d79afdad59.html" target="element"> Project Proposal </a> </td>
											    <td> <a href="../elements/id-ee1741e5c1b740b6bedd87d79afdad59.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e0d6db1da5e44a59fd0b5bcb3acae2d.html" target="element"> Data Management Plan </a> </td>
											    <td> <a href="../elements/id-3e0d6db1da5e44a59fd0b5bcb3acae2d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8af1049318c844208418f585711460bd.html" target="element"> Data Production </a> </td>
											    <td> <a href="../elements/id-8af1049318c844208418f585711460bd.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cedc438075c49f1ae5cdb4771d5e40b.html" target="element"> Data Processing </a> </td>
											    <td> <a href="../elements/id-0cedc438075c49f1ae5cdb4771d5e40b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-abe24cf55eb84fad89a42d741c539391.html" target="element"> Data Publication </a> </td>
											    <td> <a href="../elements/id-abe24cf55eb84fad89a42d741c539391.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-951cb0a56d5e470aa0a036e260976291.html" target="element"> Preserve, Discard, Reuse </a> </td>
											    <td> <a href="../elements/id-951cb0a56d5e470aa0a036e260976291.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cc4ef14112740aca52a39f64454a867.html" target="element"> Researcher </a> </td>
											    <td> <a href="../elements/id-6cc4ef14112740aca52a39f64454a867.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d90bb64fa264c84b1caf13713b9ec24.html" target="element"> Research Support </a> </td>
											    <td> <a href="../elements/id-1d90bb64fa264c84b1caf13713b9ec24.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b44cd6ed55a648d49df02398675e0a02.html" target="element"> Curator </a> </td>
											    <td> <a href="../elements/id-b44cd6ed55a648d49df02398675e0a02.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c96086e82a3c4a28b78d3d565c52c60e.html" target="element"> Technology support </a> </td>
											    <td> <a href="../elements/id-c96086e82a3c4a28b78d3d565c52c60e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98fa77eb8210446aadcb2a72b3575fdb.html" target="element"> Funder </a> </td>
											    <td> <a href="../elements/id-98fa77eb8210446aadcb2a72b3575fdb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-790ec33d90b44607a21b8fce74df17f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-790ec33d90b44607a21b8fce74df17f1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee1741e5c1b740b6bedd87d79afdad59.html" target="element"> Project Proposal </a> </td>
																		<td> <a href="../elements/id-3e0d6db1da5e44a59fd0b5bcb3acae2d.html" target="element"> Data Management Plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6cbb45cffa824b85b455b15c17e9265f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cbb45cffa824b85b455b15c17e9265f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e0d6db1da5e44a59fd0b5bcb3acae2d.html" target="element"> Data Management Plan </a> </td>
																		<td> <a href="../elements/id-8af1049318c844208418f585711460bd.html" target="element"> Data Production </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39e315e6cd6f4488aab64317f693ccfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39e315e6cd6f4488aab64317f693ccfe.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8af1049318c844208418f585711460bd.html" target="element"> Data Production </a> </td>
																		<td> <a href="../elements/id-0cedc438075c49f1ae5cdb4771d5e40b.html" target="element"> Data Processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8093ea8d0c6e41ce99e16990d9050bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8093ea8d0c6e41ce99e16990d9050bcd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0cedc438075c49f1ae5cdb4771d5e40b.html" target="element"> Data Processing </a> </td>
																		<td> <a href="../elements/id-abe24cf55eb84fad89a42d741c539391.html" target="element"> Data Publication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e76e705750434719bf9dc3e2badbc293.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e76e705750434719bf9dc3e2badbc293.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abe24cf55eb84fad89a42d741c539391.html" target="element"> Data Publication </a> </td>
																		<td> <a href="../elements/id-951cb0a56d5e470aa0a036e260976291.html" target="element"> Preserve, Discard, Reuse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4015fbb50a14ed59768e262a1367c8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4015fbb50a14ed59768e262a1367c8d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-951cb0a56d5e470aa0a036e260976291.html" target="element"> Preserve, Discard, Reuse </a> </td>
																		<td> <a href="../elements/id-ee1741e5c1b740b6bedd87d79afdad59.html" target="element"> Project Proposal </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>